.cart{
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
}

.list{
  margin-top: 1rem;
  font-size: 2rem;
}